<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="EmailClient" value="mail.jordanhickman.com" />
  <add key="EmailUser" value="admin@jordanhickman.com" />
  <add key="EmailPass" value="Admin@123456" />
  <add key="EmailTo" value="jdhickman816@outlook.com" />
  <add key="owin:AppStartup" value="SAT.UI.MVC.Startup,SAT.UI.MVC" />
</appSettings>